/* TODO Add site wide styles */
body {
    font-family: "Ubuntu";
    margin: 0px;
    height: 100vh;
}

@media (max-width:1240px) {
}

@media (max-width:680px) {
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus-visible {
    outline: unset;
}

a:active {
    color: inherit;
}